# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# TypeScript incremental cache
*.tsbuildinfo

# Editor folders
.vscode/
.idea/
